body{
    font-family: sans-serif;
    background: linear-gradient(to right,rgb(209, 211, 115),rgb(165, 168, 128));
}
#right{
    height: 500px;
    margin: 4px 4px 4px 4px;
    box-shadow: 0 0 5px black;
    border-radius: 8px;
    background: rgba(199, 156, 46, 0.74);
    text-align: center;
    text-transform: uppercase;
    float: right;
}
p{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
    background: goldenrod;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
input{
    width: 100px;
}
#left{
    height: 500px;
    background: rgba(199, 156, 46, 0.74);
    text-align: center;
    text-transform: uppercase;
    border-radius: 8px;
    margin: 4px 4px 4px 4px;
    box-shadow: 0 0 5px black;
    float: left;
}
div{
    overflow: hidden;
}
#value1{
    background: whitesmoke;
    border:  solid 2px gold;
}
#value2{
    background: whitesmoke;
    border:  solid 2px gold;
}
#middle{
    height: 120px;
    background: rgba(199, 156, 46, 0.74);
    text-align: center;
    text-transform: uppercase;
    border-radius: 8px;
    margin: 4px 4px 4px 4px;
    box-shadow: 0 0 5px black;
    
}
#result{
    padding-bottom: 10px;
}
#below{
    background: rgba(199, 156, 46, 0.74);
    text-align: center;
    text-transform: uppercase;
    border-radius: 8px;
    margin-left: 38%;
    margin-top: 4px;
    margin-bottom: 4px;
    box-shadow: 0 0 5px black;
    max-width: 200px;
    display: block;
}